{{- /* create local scratch instance
----------------------------------------------------------------------------- */ -}}
{{- $scratch := newScratch -}}
{{- /* https://developers.google.com/search/docs/advanced/structured-data/breadcrumb#json-ld_1
  breadcrumb structured markup json-ld */ -}}
{{- /* recursive partial which sets all levels of breadcrumb, except the current page
  ----------------------------------------------------------------------------- */ -}}
{{- $scratch.Set "count" 1 -}}
{{- define "partials/inline/breadcrumbData" -}}
  {{- $scratchCtx := .scratch -}}
  {{- with .parent }}
    {{ partial "inline/breadcrumbData" (dict "scratch" $scratchCtx "parent" .Parent) }}
    {{- $scratchCtx.Add "listItem" (slice (dict 
      "@type" "ListItem"
      "position" ($scratchCtx.Get "count")
      "name" (.Title | humanize | title)
      "item" .Permalink
    )) -}}
    {{- $scratchCtx.Add "count" 1 -}}
  {{- end }}
{{- end -}}
{{ partial "inline/breadcrumbData" (dict "scratch" $scratch "parent" .Parent) }}
{{- /* set the breadcrumb info for the current page
  ----------------------------------------------------------------------------- */ -}}
{{- $scratch.Add "listItem" (slice (dict 
  "@type" "ListItem"
  "position" ($scratch.Get "count")
  "name" (.Title | humanize | title)
)) -}}
{{- /* set up the data for jsonify by addding it to scratch 
  ---------------------------------------------------------------------------- */ -}}
{{- $scratch.SetInMap "breadcrumb" "@context" "https://schema.org" -}}
{{- $scratch.SetInMap "breadcrumb" "@type" "BreadcrumbList" -}}
{{- $scratch.SetInMap "breadcrumb" "itemListElement" ($scratch.Get "listItem") -}}
{{- /* use jsonify and scratch.Get to print json markup
--------------------------------------------------------- */ -}}
<script type="application/ld+json">
{{- $scratch.Get "breadcrumb" | jsonify (dict "prefix" " " "indent" "  ") | safeJS -}}
</script>